<ion-header >
  <ion-toolbar >
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
        <ion-label>Visite-nos </ion-label>
    </ion-item-divider>
    <ion-item class="itemLink" >      
      <ion-icon name="globe" item-start ></ion-icon>
      <a href="https://www.hamplia.com" target="_blank" >www.hamplia.com</a>
    </ion-item>  
    
    <ion-item-divider>
      <ion-label>Siga-nos no Facebook</ion-label>
    </ion-item-divider>
    <ion-item class="itemLink" >
      <ion-icon name="logo-facebook" item-start></ion-icon>
      <a href="https://www.facebook.com/hamplia" target="_blank" >Hamplia</a>
    </ion-item>

    <ion-item-divider>
      <ion-label>Siga-nos no Instagram</ion-label>
    </ion-item-divider>
    <ion-item class="itemLink" >
      <ion-icon name="logo-instagram" item-start></ion-icon>
      <a href="https://www.instagram.com/hamplia" target="_blank" >Hamplia Concursos</a>
    </ion-item>   
    
    <ion-item-divider>
      <ion-label>Siga-nos no Youtube</ion-label>
    </ion-item-divider>
    <ion-item class="itemLink" >
      <ion-icon name="logo-youtube" item-start></ion-icon>
      <a href="https://www.youtube.com/channel/UCB8XTgrRdzzM72NozreyLJA" target="_blank" >Hamplia Concursos TI</a>
    </ion-item>

    <ion-item-divider>
      <ion-label>Contacte-nos em</ion-label>
    </ion-item-divider>
    <ion-item class="itemLink" >
        <ion-icon name="mail" item-start></ion-icon>
        <a href="mailto:contato@hamplia.com" target="_blank" >contato@hamplia.com</a>
    </ion-item>    
  </ion-list>
</ion-content>
